<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="imageResizer" Language="1033" Version="6.3.1" Manufacturer="Boris Vasilev" UpgradeCode="d5f843f3-27cf-45a2-acd7-1ad08d67fe61">
		
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
		<MediaTemplate EmbedCab="yes"/>

		
		<Feature Id="ProductFeature" Title="imageResizerInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="imageResizerDesktopShortcut" />
			<ComponentRef Id="imageResizerStartMenuShortcut" />
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />

		<Property Id="INSTALLDESKTOPSHORTCUT" Secure="yes"/>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="imageResizer" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="imageResizerDesktopShortcut" Guid="*">
					<Condition>INSTALLDESKTOPSHORTCUT</Condition>
					<Shortcut Id="imageResizerShortcutShortcut"
						Name="Image Resizer"
						Description="Resizer for your images"
						Target="[INSTALLFOLDER]imageResizer.exe"
						WorkingDirectory="INSTALLFOLDER"/>
					<RegistryValue
						Root="HKCU"
						Key="Software\imageResizer\imageResizer"
						Name="installed"
						Type="integer"
						Value="1"
						KeyPath="yes"/>
				</Component>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Component Id="imageResizerStartMenuShortcut" Guid="*">
					<Condition>INSTALLSTARTMENUSHORTCUT</Condition>
					<Shortcut Id="ApplicationStartMenuShortcut"
						Name="Image Resizer"
						Description="Resizer for your images"
						Target="[INSTALLFOLDER]imageResizer.exe"
						WorkingDirectory="INSTALLFOLDER"/>
					<RegistryValue
						Root="HKCU"
						Key="Software\imageResizer\imageResizer"
						Name="installed"
						Type="integer"
						Value="1"
						KeyPath="yes"/>
				</Component>
			</Directory>
		</Directory>
		
		<UIRef Id="InstallerUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="imageResizerExe" Win64="yes">
				<File Source="$(var.imageResizer.TargetPath)" />
			</Component>
			<Component Id="imageResizerOctokitDll" Win64="yes">
				<File Source="$(var.imageResizer.TargetDir)\Octokit.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
